/* category.css */

.category-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light grey background */
  }
  
  .card {
    background-color:#A1D6E2; /* White background for cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px; /* Fixed width for cards */
    text-align: center;
    margin: 10px; /* Margin to separate cards */
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  }
  
  .category-name {
    background-color: #1995AD; /* Primary color for header */
    color: #ffffff; /* White text color */
    font-size: 1.2em;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  
  .category-image {
    display: block;
    align-items: center;
    
    width:75% ; /* Full width */
    height: 75%; /* Fixed height */
    object-fit: cover;
    margin:auto;
    
    /* Ensures the image covers the space without distortion */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .category-list-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%; /* Adjust width for smaller screens */
    }
  }

.smBtn, .smBtn:hover, .smBtn:active, .smBtn:focus {
    background: #A1D6E2; /* Light blue */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    outline: none;
}
  
  /* Hover effect */
.smBtn:hover {
    background: #1995AD; /* Dark blue */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
  
  /* Active effect */
.smBtn:active {
    background: #1995AD; /* Dark blue */
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
  /* Focus effect */
.smBtn:focus {
    background: #F1F1F2; /* Light grey */
    box-shadow: 0 0 0 3px rgba(25, 149, 173, 0.5); /* Light blue shadow */
}

