/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar Section */
.nav-bar {
    height: 100px;
    width: 100%;
    background-color: #1995AD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Menu Section */
.menu {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Links Section */
.links {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    color: white;
    transition: color 0.3s ease;
}

.links:hover {
    color: #F1F1F2;
}

/* Logo Section */
.logo {
    width: 150px;
    height: 80px;
    
    color:white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 750px) {
    .links {
        font-size: 3vw;
    }

    .logo {
        font-size: 3vw;
        width: 100px;
        height: 60px;
    }

    .menu {
        width: 70%;
    }
}
